doctype html
html
  head
    title #{t("home.title")}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://lib.baomitu.com/jquery/3.3.1/jquery.js')
    script(src='/javascripts/changeLanguage.js')
  body
    block content
    h1 #{t("home.title")}
    button(onclick="changeLanguage('zh-CN')") 中文
    button(onclick="changeLanguage('en')") english
    button(onclick="changeLanguage('de')") german
